.container h1, h4{
    color:black;
}

.form-select option{
    color:black;
}

#payment_method option:hover {
  background-color: #f9d649 !important; /* nền vàng */
  color: #000;               /* chữ đen để nhìn rõ */
}
#payment_method:hover {
  border-color: #f9d649;
  box-shadow: 0 0 0 1px #f9d649; /* hiệu ứng viền */
}

.text-st{
    color: #212520 !important;

}/* Toàn bộ chữ trong card giỏ hàng */
#cart-section,
#cart-section .text-st,
#cart-section h4,
#cart-section h6,
#cart-section small,
#cart-section strong {
  color: #212520 !important;
  font-size: 14px;
}

/* Badge */
#cart-section .badge {
  background-color: #212520;
}

/* List group items */
#cart-section .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Select + Button */
#voucherForm .form-select {
  color: #212520;
}
#voucherForm .btn-secondary {
  background-color: #212520;
  border-color: #212520;
}
#voucherForm .btn-secondary:hover {
  background-color: #444; /* đậm hơn chút khi hover */
}
.btn-outline-primary{
    color:#000;
    padding:5px;
    background-color: #fff;
    border-color:#000;
}
.btn-outline-primary:hover{
    background-color: #000;
    color:#fff;
}
.btn-proceed-checkout-mobile{
    background: #2d2d2d;
    color: #fff;
    border-raidus: 5px;

}

.btn-proceed-checkout-mobile:hover{
    background: #3d3d3d;
}

.store-pro {
  display: flex;                /* Cho nằm cùng 1 hàng */
  justify-content: space-between; /* Khoảng cách 2 bên */
  align-items: center;
  gap: 10px;                    /* Khoảng cách giữa link và nút */
}

.store-pro .back-link {
 margin-left: 10px;
  color: #000 !important;       /* Chữ màu đen */
  text-decoration: none;        /* Bỏ gạch chân */
}

.store-pro .back-link:hover,
.store-pro .back-link:focus {
  color: #000 !important;       /* Hover vẫn đen */
  text-decoration: underline;   /* hoặc bỏ underline nếu muốn */
}

.store-pro button {
  /* flex: 1;                      Cho button chiếm phần còn lại */
}
.btn-proceed-checkout-mobile{
    background: #2d2d2d;
    color: #fff;
    border-raidus: 5px;
}

.btn-proceed-checkout-mobile:hover{
    background: #3d3d3d;
    color: #FFD700;
}