.login-container {
    background: #ffffff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.login-header h3 {
    font-size: 1.8rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}
.login-left h3{
    color:black;
}

.text-black{
    color:black;
}
.login-header p {
    font-size: 0.9rem;
    color: #333333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 0.95rem;
    color: #000000;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #000000;
    background: #ffffff;
}

.form-control:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.btn-login:hover {
    background: #333333;
}

.divider {
    margin: 20px 0;
    color: #6c757d;
    font-size: 0.9rem;
    position: relative;
}

.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    z-index: -1;
}

.divider span {
    background: #ffffff;
    padding: 0 10px;
}

.social-login {
    margin-top: 20px;
}

.social-login a {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
}

.social-login .facebook {
    background: #3b5998;
    color: #ffffff;
}

.social-login .google {
    background: #dd4b39;
    color: #ffffff;
}

.register-link {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #000000;
}

.register-link a {
    color: #0000EE;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
    color: #0000EE !important;

}