.filter-box ul li label {
    color: #000; /* màu đen */
    font-weight: normal; /* nếu muốn chữ không in đậm */
}

.brand-list li label {
    color: #000;
}

.text-italic h5,
.text-italic p {
    color: black;
    font-style: italic; 
}